name: Update Chess README
on:
  issue_comment:
    types: [created]
  workflow_dispatch:

jobs:
  update_readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: timburgan/chess-readme-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          identifier: "my-chess-game" 
